#Files #Main table {
    width: 100%;
}

#Files #Main td.leftCol {
    width: 340px;
	vertical-align: top;
}
#Files #Main td.topRow {
    height: 35px;
    text-align: right;
}
#Files #Main td.topRow > div {
    padding-right: 10px;
}
#Files #Main a {
    color: #000000;
    display: block;
    text-decoration: none;
}
#Files #Main #Directory {
    height: 500px;
    margin-bottom: 10px;
    margin-right: 10px;
    overflow-x: hidden;
    overflow-y: auto;
    padding: 5px;
    position: relative;
    border-radius: 8px;
    border: 1px solid #53565d;
    color: #7a7d88;
	max-width: 330px;
}
#Files #Main #Content {
    border-radius: 8px;
    border: 1px solid #53565d;
    color: #7a7d88;
    height: 490px;
    margin-bottom: 10px;
    overflow-x: hidden;
    overflow-y: auto;
    padding: 10px;
    position: relative;
    resize: none;
}
#Files #Main #ContentInner, #Files #Main .editview, #Files #Main .textarea
{
	height: 100%;
}

#Files #Main #Content iframe, #Files #Main #Content video {
	width: 100% !important;
	height: 100% !important;
}
#Files #Main #Content table {
    border-collapse: collapse;
}
#Files #Main #Content table th, #Files #Main #Content table td {
    border-bottom: 1px solid #53565d;
    text-align: left;
}
#Files #Main #Content table td div {
    height: 20px;
    line-height: 20px;
    padding: 5px 6px 5px 20px;
    position: relative;
}
#Files #Main #Content table td div.files {
    cursor: pointer;
}
#Files #Main ul, #Files #Main ul li {
    cursor: pointer;
    list-style-type: none;
    margin: 0;
    padding: 1px;
    position: relative;
}
#Files #Main ul > li > div:hover, #Files #Main ul > li > div.current {
    background-color: #282c35;
}
#Files #Main #Directory input#EditMode {
    background: none repeat scroll 0 0 transparent;
    border: 0 none;
    font-size: 14px;
	font-family: Raleway;
    margin: 0;
    padding: 0;
}
#Files #Main #Directory h4 input#EditMode {
    text-transform: uppercase;
}
#Files #Main #Directory h4, #Files #Main #Content table th > h4 {
    cursor: pointer;
    font-weight: bold;
    margin: 5px 0 5px 5px;
    position: relative;
    text-transform: uppercase;
}

#Files #Main #Content table th > h4 {
    margin: 5px 0 5px 20px;
}

#Files #Main #Content table th > .name {
    margin-left: 0;
}
#Files #Main #Directory li > div {
    cursor: pointer;
    height: 20px;
    line-height: 20px;
    padding-left: 20px;
    padding-right: 10px;
    position: relative;
}
#Files #Main #Directory li > div > span > img {
    left: 0;
    margin: 2px;
    position: absolute;
    top: 0;
}

#Files #Main #Directory .toggle {
	background: url("img/bullet_toggle_plus.png");
	width: 12px;
	height: 8px;
	display: block;
	left: 4px;
    position: absolute;
    top: 6px;
}

#Files #Main #Directory .toggle.open {
	background: url("img/bullet_toggle_minus.png");
	width: 12px;
	height: 8px;
	display: block;
	left: 4px;
    position: absolute;
    top: 6px;
}

#Files #Main #Directory .toggle img {
	display: none;
}
#Files #Main #Directory li > div > span.files {
    padding-left: 2px;
}
#Files #Main #Directory li > div > span.files > i {
    background-image: url("./../../../../subether/gfx/play_thumb.png");
    background-position: 0 0;
    background-repeat: no-repeat;
    background-size: cover;
    bottom: auto;
    display: none;
    height: 8px;
    left: 5px;
    margin: 0;
    position: absolute;
    right: auto;
    top: 6px;
    width: 10px;
}
#Files #Main #Directory h4 .edit_icons {
    cursor: pointer;
    font-weight: normal;
    position: absolute;
    right: 5px;
    text-transform: none;
    top: 0;
}
#Files #Main #Directory h4 .edit_icons img {
    vertical-align: middle;
}
#Files #Main #Directory ul > li > ul {
    height: 0;
    overflow: hidden;
}
#Files #Main #Directory ul > li > ul.open {
    height: auto;
    margin: 0 0 0 13px;
    overflow: visible;
    padding: 0 0 0 5px;
    position: relative;
}
#Files #Main #Directory ul > li > ul.open > li {
    position: relative;
}

#Files #Main #Directory ul > li > ul.open li:hover .filename {
	display: inline-block;
    width: 45%;
	overflow: hidden;
    text-overflow: ellipsis;
	word-wrap: break-word;
	white-space: nowrap;
}

#Files #Main #Directory ul > li > ul.open > li::before {
    border-top: 1px dotted #909090;
    content: " ";
    height: 1px;
    left: -7px;
    position: absolute;
    top: 8px;
    width: 8px;
}
#Files #Main #Directory ul > li > ul.open > li::after {
    border-left: 1px dotted #909090;
    content: " ";
    height: 21px;
    left: -9px;
    position: absolute;
    top: -4px;
    width: 1px;
}
#Files #Main #Directory ul > li > ul.open > li:first-child::after {
    height: 17px;
    top: 0;
}
#Files #Main #Directory ul > li > ul.open > li:last-child::after {
    height: 9px !important;
}
#Files #Main #Directory ul > li > ul.open > li + li:last-child::after {
    height: 15px !important;
	top: -6px;
}
#Files #Main #Directory li .edit_icons {
    cursor: pointer;
    position: absolute;
    right: 0;
    top: 0;
    visibility: hidden;
}
#Files #Main #Directory li > div:hover > .edit_icons {
    visibility: visible;
}
#Files #Main #Directory h4 .edit_icons img {
    margin-left: 5px;
}
#Files #Main #Directory li .edit_icons span {
	margin-right: 4px;
	margin-top: -3px;
}
#Files #Main #Directory li .edit_icons select {
    position: relative;

}
#Files #Main #Directory .edit_icons .sortUp {
    background: url("img/bullet_up.png") no-repeat scroll center -3px rgba(0, 0, 0, 0);
    border-bottom: 1px solid transparent;
    height: 7px;
    left: -18px;
    position: absolute;
    top: 2px;
    width: 16px;
}


#Files #Main #Directory li .edit_icons .sortUp, #Files #Main #Directory li .edit_icons .sortDown {
	left: -15px;
}

#Files #Main #Directory .edit_icons .sortUp:hover {
    opacity: 0.5;
}
#Files #Main #Directory .edit_icons .sortDown {
    background: url("img/bullet_down.png") no-repeat scroll center -6px rgba(0, 0, 0, 0);
	height: 7px;
    left: -18px;
    position: absolute;
    top: 11px;
    width: 16px;
}
#Files #Main #Directory .edit_icons .sortDown:hover {
    opacity: 0.5;
}
#Files #Main #Directory h4 .edit_icons .sortUp {
    top: 3px;
}
#Files #Main #Directory h4 .edit_icons .sortDown {
    top: 12px;
}
#Files #Main #Directory .edit_icons .Icon:hover {
    opacity: 0.5;
}

#Files #Main #Content li > div {
    height: 30px;
    padding: 5px;
}
#Files #Main #Content .thumbs, #Files #Main #Content .fileupload {
    background-size: cover;
    border: 1px solid transparent;
    border-radius: 3px;
    cursor: pointer;
    float: left;
    height: 105px;
    margin: 2px 2px 30px;
    overflow: visible;
    padding: 5px;
    position: relative;
    text-align: center;
    width: 105px;
}
/*
#Files #Main #Content .thumbs > img {
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    display: block;
    height: 100%;
    margin: 0 auto;
    width: 100%;
}
*/
#Files #Main #Content .thumbs.image {
	background: none;
}

#Files #Main #Content .thumbs.image > div.image {
	width: 95px;
	height: 90px;
	background-repeat: no-repeat;
	background-position: center center;
	background-size: cover;
	position: absolute;
	left: 10px;
	top: 12px;
}

#Files #Main #Content .thumbs > img:active {
    opacity: 0.5;
}
#Files #Main #Content .thumbs > i {
    background-image: url("img/play.png");
    background-position: 0 0;
    background-repeat: no-repeat;
    background-size: auto auto;
    bottom: auto;
    height: 16px;
    left: 24px;
    margin: 0;
    position: absolute;
    right: auto;
    top: 75px;
    width: 16px;
}
#Files #Main #Content .fileupload > div {
    border-radius: 3px;
    height: 100px;
}
#Files #Main #Content .thumbs:hover {
    box-shadow: 0 0 3px #454B56;
	border: 1px solid #454B56;
}
#Files #Main #Content .fileupload > div {
    background: url("../../../../subether/gfx/cross.png") no-repeat scroll center center rgba(0, 0, 0, 0);
    border: 2px dashed #c0c0c0;
}
#Files #Main .rightCol .upload_btn {
    height: 0;
    overflow: hidden;
    position: absolute;
    visibility: hidden;
    width: 0;
}
#Files #Main .rightCol .upload_btn > div {
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
}
#Files #Main .rightCol .upload_btn > div > span {
    cursor: pointer;
    display: block;
    padding: 4px 6px;
    text-align: center;
}
#Files div .Download {
    display: none;
}
#Files div:hover > .Download {
    display: block;
    position: absolute;
    right: 5px;
    top: 5px;
}

#Directory select {
	-moz-appearance: none;
    background: url("img/dropdown.png") no-repeat;
	background-position: center right;
    border: medium none;
    color: #515461;
    font-family: Raleway;
    font-size: 13px;
	width: 30px;
	-webkit-appearance: none;
	-moz-appearance: none;
}

#Controls .topcontrols select {
	-moz-appearance: none;
    background: url("img/dropdown.png") no-repeat;
	background-position: center right;
    border: medium none;
    color: #515461;
    font-family: Raleway;
    font-size: 13px;
	width: 83px;
	-webkit-appearance: none;
	-moz-appearance: none;
}

#Files.mobileview .mainfolder {
	font-size: 18px;
	color: #3C404C;
}

#Files.mobileview #Main #Directory li > div {
    cursor: pointer;
    height: 30px;
	padding-left: 45px;
	line-height: 25px;
}

#Files.mobileview #Main #Directory li > div.file {
	height: 35px;
	line-height: 20px;
	font-size: 15px;
}

#Files.mobileview #Main #Directory li > div.subfolder:hover {
    cursor: pointer;
    height: 70px;
}

#Files.mobileview #Main #Directory li > div.subfolder {
    background: url("img/subfolder.png") no-repeat;
	background-position: left top;
}

#Files.mobileview #Main #Directory .toggle {
	right: 0;
	left: unset;
}

#Files.mobileview #Main #Directory li > div.subfolder > .edit_icons {
	position: relative;
	width: 100%;
	text-align: center;
	background-color: #333239;
	padding: 5px 0;
}

#Files.mobileview #Main #Directory li > div.subfolder > .edit_icons {
    cursor: pointer;
    position: absolute;
    right: 0;
    top: 30px;
    visibility: hidden;
}
#Files.mobileview #Main #Directory li > div:hover > .edit_icons {
    visibility: visible;
}
#Files.mobileview #Main #Directory h4 .edit_icons img {
    margin-left: 5px;
}
#Files.mobileview #Main #Directory .subfolders .edit_icons span {
	margin-right: 20px;
	margin-top: -3px;
	display: inline-block;
}
#Files.mobileview #Main #Directory li .edit_icons select {
    position: relative;

}
#Files.mobileview #Main #Directory .subfolders .edit_icons .sortUp {
    background: url("img/bullet_up.png") no-repeat scroll center -3px rgba(0, 0, 0, 0);
    border-bottom: 1px solid transparent;
    height: 7px;
    left: 0;
    position: relative;
    top: 2px;
    width: 16px;
}


#Files.mobileview #Main #Directory li .edit_icons .sortUp, #Files.mobileview #Main #Directory li .edit_icons .sortDown {
	left: -15px;
}

#Files.mobileview #Main #Directory .edit_icons .sortUp:hover {
    opacity: 0.5;
}
#Files.mobileview #Main #Directory .subfolders .edit_icons .sortDown {
    background: url("img/bullet_down.png") no-repeat scroll center -6px rgba(0, 0, 0, 0);
	height: 7px;
    left: 0;
    position: relative;
    top: 3px;
    width: 16px;
}

#Files.mobileview #Main #Directory .edit_icons .sortDown img, #Files.mobileview #Main #Directory .edit_icons .sortUp img  {
	display: none;
}

#Files.mobileview #Main #Directory .edit_icons .sortDown:hover {
    opacity: 0.5;
}
#Files.mobileview #Main #Directory h4 .edit_icons .sortUp {
    top: 3px;
}
#Files.mobileview #Main #Directory h4 .edit_icons .sortDown {
    top: 12px;
}
#Files.mobileview #Main #Directory .edit_icons .Icon:hover {
    opacity: 0.5;
}

#Files.mobileview #Main #Directory ul > li > ul.open {
	margin: 0;
	padding: 0;
}

#Files.mobileview #Main #Directory ul > li > ul.open > li::before {
	border: none;
	position: inherit;
}

#Files.mobileview #Main #Directory ul > li > ul.open > li::after {
	border: none;
	position: inherit;
}

#Files.mobileview #Main #Directory .file .filesize {
	float: none !important;
	padding-right: 0 !important;
	position: absolute;
	top: 20px;
	left: 45px;
	font-size: 13px;
	color: #666472;
	font-weight: 600;
}

#Files.mobileview #Main #Directory li.file {
	height: 45px;
	border-bottom: 1px solid #666472;
	padding-top: 10px;
}

#Files.mobileview #Main #Directory li.file .edit_icons {
	top: 10px;
	right: 20px;
}

#Files.mobileview #Main #Directory li > div > span > img {
	left: inherit;
	right: 0;
	top: 10px;
}

#Files.mobileview #Main #Directory .subfolders li.file .edit_icons .sortUp {
	position: relative;
}

#Files.mobileview #Main #Directory .subfolders li.file .edit_icons .sortDown {
	position: relative;
}

#Files.mobileview #Main #Directory .subfolders li.file .edit_icons span {
	margin-right: 3px;
}

div#Files.mobileview form .file_upload_label {
	background-image: url("img/upload_big.png");
	background-size: 32px 32px;
	height: 32px;
	width: 32px;
	display: block;
	opacity: 1 !important;
}